article#contato

  header.highlight
    h1 Contato

  .gs
    :marked
      Será uma satisfação apresentar detalhadamente o nosso trabalho.

    .two-third
      | form
    .third
      .flex.flex--row
        .flex.flex__child.flex--col
          .flex.flex__child.flex--row.flex--center.pad-5
            .flex__child.flex__child--minimal
              i.fa.fa-male
            .flex__child.flex__child--two
              | Leonardo Monteiro
          .flex.flex__child.flex--row.flex--center.pad-5
            .flex__child.flex__child--minimal
              i.fa.fa-mobile
            .flex__child.flex__child--two
              a(href="tel:+55 11 98208-5992")
                | +55 11 98208-5992
          .flex.flex__child.flex--row.flex--center.pad-5
            .flex__child.flex__child--minimal
              i.fa.fa-email
            .flex__child.flex__child--two
              a(href="mailto:leo@gruposuper8.com")
                | leo@gruposuper8.com
