article#servicos

  header.highlight
    h1 Serviços e nosso diferencial

  .gs
    section.half
      h2 Casamentos
      .embed-responsive.embed-responsive--16x9
        iframe(src="//www.youtube.com/embed/aM1OTQezMIs?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
      :marked
        A assessoria aos noivos acontece nos meses que antecedem o casamento,
        através de indicação e referências de produtos e serviços para a festa,
        desenvolvimento de roteiros para cada história, orientações gerais,
        esclarecimento de possíveis dúvidas e todo tipo de apoio relacionado ao
        evento que os noivos possam precisar.

    section.half
      h2 Eventos
      .embed-responsive.embed-responsive--16x9
        iframe(src="//www.youtube.com/embed/FfvNSH19dhQ?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
      :marked
        - Filmagem em forma de curta metragem
        - Serviços de Mestres de Cerimônia
        - Fotógrafos e Making off
        - Salão de beleza completo
        - Dia da noiva
        - Estrutura completa de iluminação, tendas e DJ’s.

  .gs
    .embed-responsive.embed-responsive--16x9
      iframe(src="//player.vimeo.com/video/118657956", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
