article#sobre

  header.highlight
    h1 Sobre o Grupo Super 8

  :markdown
    O **Grupo Super 8** é uma empresa jovem, inovadora atuante no segmento
    de entretenimento. Forte experiência em eventos como Casamentos,
    aniversários de 15 anos e eventos corporativos.

    Nosso Objetivo é proporcionar, planejar, sonhar junto e construir uma
    realidade. É assim que o **Grupo Super 8** atua para que um dos melhores
    momentos da sua vida seja **INESQUECÍVEL**.

  .gs
    section.third
      h2 Visão
      :markdown
        Ser a melhor empresa no ramo de eventos, oferecendo serviços de alta
        qualidade e criatividade com objetivo de atender às expectativas e
        necessidades dos clientes.

    section.third
      h2 Missão
      :markdown
        Sermos referência em soluções personalizadas de eventos, com qualidade
        e pontualidade, buscando a satisfação e excelência com resultados
        eficazes, práticos e criativos, atendendo e superando todas as
        expectativas e necessidades dos clientes.

    section.third
      h2 Valores
      :markdown
        **Clientes:** Personalizarmos soluções com o objetivo de satisfazer as
        necessidades dos nossos clientes.

        **Integridade e Transparência:** O alicerce do **Grupo Super 8** é a
        integridade, honestidade, confiabilidade e transparência no
        relacionamento com clientes, parceiros, fornecedores.
