extends layout

block content
  section.splash
    img(src='img/logo.svg', alt='Grupo Super 8')
    hgroup
      h1 Grupo Super 8
      h3 Produtora de Eventos, Festas, Casamentos e Bodas

    .contato
      table
        tr
          td
            i.fa.fa-mobile
          td 11 98208-5992
        tr
          td
            i.fa.fa-email
          td
            a(href="mailto:leomonteiro26@yahoo.com.br")
              | leomonteiro26@yahoo.com.br
