extends layout

block title
  | Grupo Super 8

block content
  include ./modules/one/_header.jade
  include ./modules/one/_nav.jade
  main(role='main')
    include ./modules/one/_home.jade
    include ./modules/one/_sobre.jade
    include ./modules/one/_servicos.jade
    include ./modules/one/_trabalhos.jade
    include ./modules/one/_contato.jade
  include ./modules/one/_footer.jade
