doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Produtora de Eventos, Festas, Casamentos e Bodas')
    meta(name='author', content= "Thiago Lagden")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="js/lib/desandro/flickity/flickity.css")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Quicksand|Roboto")
    title
      block title
        | Grupo Super 8

    != css()

  body.transitions-ready.color0
    block content

    != js()
