extends layout

block title
  | Grupo Super 8

block content
  section.splash

    .logo
      img(src='img/logo.svg', alt='Grupo Super 8')
      h1 Grupo Super 8

    .about
      h3 Produtora de Eventos, Festas, Casamentos e Bodas
      table
        tr
          td
            i.fa.fa-male
          td Leonardo Monteiro
        tr
          td
            i.fa.fa-mobile
          td 11 98208-5992
        tr
          td
            i.fa.fa-email
          td
            a(href="mailto:leo@gruposuper8.com")
              | leo@gruposuper8.com
