mixin contatoInfo(icon)
  tr
    td
      i.fa(class='fa-#{icon}')
    td
      if block
        block
      else
        p No content provided

article#contato.article--light

  header.highlight
    h1 Contato

  .gs
    :marked
      Será uma satisfação apresentar detalhadamente o nosso trabalho.

    .two-third
      form#contatoForm.frm(method='post', action='http://email.gruposuper8.com/send.php')
        .frm__grupo
          
          input#idade.visuallyhidden(name='idade', type='text', placeholder='Idade *')

          label(for='#nomeForm') Nome
          input#nomeForm(name='nome', type='text', placeholder='Nome *')
        .frm__grupo
          label(for='#emailForm') Email
          input#emailForm(name='email', type='email', placeholder='Email *')
        .frm__grupo
          label(for='#msgForm') Mensagem
          textarea#msgForm(name='msg', placeholder='Deixe sua mensagem *')

        button#btnSubmit.btn(type='submit') Envia
     
    .third
      table.infoTable
        +contatoInfo('male')
          | Leonardo Monteiro
        +contatoInfo('mobile')
          a(href='tel:+55 11 98208-5992')
            | +55 11 98208-5992
        +contatoInfo('email')
          a(href='mailto:leo@gruposuper8.com')
            | leo@gruposuper8.com
        +contatoInfo('facebook')
          a(href='https://www.facebook.com/grupos8', target='_blank')
            | Facebook
        +contatoInfo('vimeo')
          a(href='https://vimeo.com/gruposuper8', target='_blank')
            | Vimeo
