footer.footer

  .gs

    .flex.flex--center
      .flex__child
        img.footer--logo(src="img/logo.svg", alt="Grupo Super 8")
      .flex__child.right
        a(href="http://lagden.in", target="_blank")
          | Produzido por Lagden.in

