#home
  .gallery.js-flickity(data-flickity-options!={"imagesLoaded": true, "pageDots": false, "autoPlay": true, "wrapAround": true, "prevNextButtons": true, "draggable": false})
    each n in banner
      img(src='#{n.normal}', srcset='#{n.normal} 1x, #{n.retina} 2x', alt='#{n.alt}')
