article#trabalhos.article--dark

  header.highlight
    h1 Trabalhos

  .grid
    .grid__sizer
    each c in galeria
      .grid__item
        a.picWorks(href="#{c.big}")
          img(src="#{c.small}", alt="#{c.alt}")
