article#trabalhos.article--dark

  header.highlight
    h1 Trabalhos

  .grid
    .grid__sizer
    each n in galeria
      .grid__item
        a.picWorks(href="#{n.retina}")
          img(src="#{n.normal}", alt="#{n.alt}")
