.transitions-ready
  .highlight > h1
    backface-visibility hidden
    will-change color
    transition color 3.0s linear
    font-weight 100

.transitions-ready
  &.color0
    .highlight > h1
      color hsl(10, 90%, 60%)

  &.color1
    .highlight > h1
      color hsl(30, 90%, 60%)

  &.color2
    .highlight > h1
      color hsl(50, 90%, 60%)

  &.color3
    .highlight > h1
      color hsl(70, 90%, 60%)

  &.color4
    .highlight > h1
      color hsl(90, 90%, 60%)

  &.color5
    .highlight > h1
      color hsl(110, 90%, 60%)

  &.color6
    .highlight > h1
      color hsl(130, 90%, 60%)

  &.color7
    .highlight > h1
      color hsl(150, 90%, 60%)

  &.color8
    .highlight > h1
      color hsl(170, 90%, 60%)

  &.color9
    .highlight > h1
      color hsl(190, 90%, 60%)

  &.color10
    .highlight > h1
      color hsl(210, 90%, 60%)

  &.color11
    .highlight > h1
      color hsl(230, 90%, 60%)

  &.color12
    .highlight > h1
      color hsl(250, 90%, 60%)

  &.color13
    .highlight > h1
      color hsl(270, 90%, 60%)

  &.color14
    .highlight > h1
      color hsl(290, 90%, 60%)

  &.color15
    .highlight > h1
      color hsl(310, 90%, 60%)

  &.color16
    .highlight > h1
      color hsl(330, 90%, 60%)

  &.color17
    .highlight > h1
      color hsl(350, 90%, 60%)
