.grid
  margin 0 auto
  cf()

.grid__sizer,
.grid__item
  width 320px

.grid__item
  > a
    display block
    > img
      display block
      width 100%
      box-sizing border-box
      padding 5px
